﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer




    <div style="width: 50%; margin: auto auto auto auto; background-color: #222222">

        <h1 class="sign__word text-center" style="font-size: 30px; color:white; padding:5px">@Model.Name </h1>
        <div style="width:100%; padding:10px">
            <h2 style="color:#CCCB7C; font-size: 20px;"> @Model.Description </h2>
            @foreach (var message in ViewBag.Messages)
            {
                <h3 style="color:#7BE891; font-size: 15px;"> @message.Text </h3>
                <p style="color:#CCCB7C; font-size: 10px;"> Sended by: @message.User.Login at: @message.Time </p>
                <hr />
            }
            <sign style="color:#7BE891;" sender="@Model.User.Login" time="Model.CreationDate"></sign>
            <form method="post" asp-controller="Forum" asp-action="Send">
                <input style="width:100%" name="text" type="text" placeholder="@Localizer["enter_message"]..."/>
                <input class="btn btn-lg btn-primary btn-block img-rounded" type="submit" value="@Localizer["send_message"]"/>
                <input type="number" name="id" value="@Model.Id" style="visibility:hidden" />
            </form>
                </div>

    </div>
