﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model GameDevelopersForum.ViewModels.MessagesEditModel
<form asp-action="MessageEdit" asp-controller="DataBases" asp-anti-forgery="true" class="text-center;" style="margin: auto auto auto auto; max-width: 30%; transform: translateY(55px)">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <input style="width:100%" class="img-rounded" asp-for="Text" placeholder="@Localizer["name"]: @ViewBag.CurrentMessage.Text" />
            <span asp-validation-for="Text" />
        </div>
        <br/>
        <div>
            <input type="submit" value="@Localizer["save_changes"]" class="btn btn-lg btn-primary btn-block img-rounded" />
        </div>
    </div>
</form>

