﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model GameDevelopersForum.ViewModels.RegisterModel
<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="text-center;" style="margin: auto auto auto auto; max-width: 30%; transform: translateY(55px)">
    <div class="validation" asp-validation-summary="All" />
    <div>
        <div>
            <input style="width:100%" class="img-rounded" type="text" asp-for="Login" placeholder="@Localizer["enter_login"]" />
            <span asp-validation-for="Login" style="color:white"></span>
        </div>
        <br />
        <div>
            <input style="width:100%" class="img-rounded" asp-for="Password" placeholder="@Localizer["enter_password"]" />
            <span asp-validation-for="Password" style="color:white"></span>
        </div>
        <br />
        <div>
            <input style="width:100%" class="img-rounded" asp-for="ConfirmPassword" placeholder="@Localizer["confirm_password"]" />
            <span asp-validation-for="ConfirmPassword" style="color:white"></span>
        </div>
        <br />
        <div>
            <input style="width:100%" class="img-rounded" asp-for="Email" placeholder="@Localizer["enter_email"]" />
            <span asp-validation-for="Email" style="color:white"></span>
        </div>
        <br />
        <div>
            <textarea style="width:100%" class="img-rounded" asp-for="About" placeholder="@Localizer["about_yourself_unnecessary"]">О себе</textarea><br />
            <span asp-validation-for="About" style="color:white"></span>
        </div>
        <br />
        <div>
            <input type="submit" value="@Localizer["done"]" class="btn btn-lg btn-primary btn-block img-rounded" />
        </div>
        </div>
</form>